= form_tag(uploads_path, id: "fileupload-#{media_type}") do
  = hidden_field_tag :parent_type, object.class.to_s.downcase
  = hidden_field_tag :parent_id, object.id
  .row.fileupload-buttonbar
    .span7
      %span.btn.btn-success.fileinput-button
        %i.icon-plus.icon-white
        %span 
          Add files...
          = file_field_tag "#{media_type}[upload]", multiple: true
      %button.btn.btn-warning.cancel{:type => "reset"}
        %i.icon-ban-circle.icon-white
        %span Cancel upload
    .span5
      .progress.progress-success.progress-striped.active.fade
        .bar{:style => "width:0%;"}
  %table.table{ id: "fileupload-#{media_type}-tmpl" }
    - [object.send(media_type)].flatten.compact.each do |media_item|
      = render 'shared/uploader_item', item: media_item.to_jq_upload

