.row-fluid
  .span9
    - if @requests_proposed.present?
      %h2 Requests received
      = form_tag manage_selection_requests_path do
        #selection_actions.invisible
          %h4 Selection actions
          = submit_tag 'reject', class: 'btn btn-danger'
          = submit_tag 'accept', class: 'btn btn-success'
        %table.table
          %a#select_all{href: 'javascript:nil;'}
            Select all
          %thead
            %tr
              %th Show
              %th Avatar
              %th Link
              %th -
              %th -
              %th
                Select
          - @requests_proposed.each do |req|
            %tr
              %td
                = link_to 'Link to show', req.show
              %td
                - if req.requester_type != 'Fan' and req.requester.images.present?
                  = image_tag req.requester.images.first.upload.url(:thumb)
                - else
                  = image_tag req.requester.avatar.url(:thumb)
              %td
                = link_to (req.requester.try(:name) || req.requester_type ), req.requester
              %td
                = link_to 'accept', accept_request_path(req), method: :post, class: 'btn btn-success'
              %td
                = link_to 'reject', reject_request_path(req), method: :post, class: 'btn btn-danger'
              %td
                = check_box_tag 'request_ids[]', req.id, false, class: 'requests_selection'

    - if @requests_sent.present?
      %h2 Requests sent
      %table
        %thead
          %tr
            %th Link to show
            %th Sent to
            %th Status
        - @requests_sent.each do |req|
          %tr
            %td
              = link_to 'Link to show', req.show
            %td
              = link_to req.requester.try(:name), req.requested
            %td
              = req.state

    %br
    = link_to 'Archived requests', '#'
