%h1
  = @fan.name
- if can?(:edit, @fan)
  = link_to 'Edit', edit_fan_path(@fan), class: 'btn'
- if can?(:destroy, @fan)
  = link_to 'Destroy fan account', @fan, method: :delete, class: 'btn btn-danger', 'data-confirm'=>'Are you sure?'
.row-fluid
  .span4
    %a.thumbnail
      = image_tag @fan.avatar.url
  .span7
    - { 'Friends' => @fan.friends, 'Favorite bands' => @fan.favorite_bands, 'Favorite venues' => @fan.favorite_venues }.each do |title, collection|
      = render partial: 'info_panel', locals: { title: title, collection: collection }
