%h1 
  = @band.name
- if can?(:edit, @band)
  = link_to 'Edit media', edit_media_band_path(@band), class: 'btn'
  = link_to 'Edit info',  edit_band_path(@band), class: 'btn'
  = link_to 'Requests box', requests_path, class: 'btn'
  = link_to 'Message box', conversations_path, class: 'btn'
  = link_to 'Propose a show', new_show_path, class: 'btn'
- elsif can?(:send_message, @band.registration)
  %a.btn{"data-toggle" => "modal", href: "#myModal", role: "button"} Send a message
  = render partial: 'shared/new_message_modal', locals: { recipient: @band }
.row-fluid
  .span4
    = render partial: 'shared/media_band_sidebar', locals: { band: @band }
  .span4
    %dl
      %dt Description:
      %dd
        = @band.description
      %dt Links:
      %dd
        %ul
          - @band.links.split(',').each do |link|
            %li
              = link_to_if valid?(link), link, link
  .span3
    = render partial: 'shared/upcoming_shows', locals: { shows: @band.shows }
