%h1 
  = @band.name
- if can?(:edit, @band)
  = link_to 'Edit media', edit_media_band_path(@band), class: 'btn'
  = link_to 'Edit info',  edit_band_path(@band), class: 'btn'
- if can?(:view_private_communication, @band.registration)
  = link_to 'Requests box', requests_path, class: 'btn'
  = link_to 'Message box', conversations_path, class: 'btn'
  = link_to 'Propose a show', new_show_path, class: 'btn'
- if can?(:send_message, @band.registration)
  %a.btn{"data-toggle" => "modal", href: "#myModal", role: "button"} Send a message
- if can?(:destroy, @band)
  = link_to 'Destroy band account', @band, method: :delete, class: 'btn btn-danger', 'data-confirm'=>'Are you sure?'
= render partial: 'shared/new_message_modal', locals: { recipient: @band }
.row-fluid
  .span4
    = render partial: 'shared/media_side_content', locals: { content_type: :image, media: @band.images }
    = render partial: 'shared/media_side_content', locals: { content_type: :song, media: @band.songs }
  .span4
    %dl
      %dt Description:
      %dd
        = @band.description
      %dt Links:
      %dd
        %ul
          - if @band.links.present?
            - @band.links.split(',').each do |link|
              %li
                = link_to_if valid?(link), link, link
  .span3
    = render partial: 'shared/upcoming_shows', locals: { shows: Show.upcoming_for(@band) }
