= simple_form_for show do |f|
  = f.input :dt, label: 'Date and time', :default => Date.tomorrow
  - if current_user.is? 'Venue'
    = label_tag 'Band'
    %input#bands{ type: 'text', name: 'opposite[name]', value: show.band }
    %input{type: 'hidden', name: 'opposite[type]', value: 'band'}
  - else
    = label_tag 'Venue'
    %input#venues{ type: 'text', name: 'opposite[name]', value: show.venue }
    %input{type: 'hidden', name: 'opposite[type]', value: 'venue'}
  = f.input :cost
  = f.input :description
  = f.input :address
  = f.input :private, label: 'Make address private?'
  = f.input :crowd_size
  = f.submit class: 'btn btn-primary'
