.row-fluid
  .span4
    - if @show.band
      - @show.band.images.each do |img|
        %a.thumbnail{ href: img.upload.url }
          = image_tag img.upload.url(:thumb)
      - if @show.band.songs.present?
        %table.table
          %thead
            %tr
              %td 
                %b Playable sample songs
          - @show.band.songs.each do |song|
            %tr
              %td
                %div
                  = song
                %audio{ controls: true }
                  %source{ src: song.upload.url, type: song.upload.content_type }
    - else
      .alert.warning 
        = 'There is no information about this band in our base'
  .span8
    - if can?(:edit, @show)
      = link_to 'Edit information', edit_show_path(@show), class: 'btn'
    .row-fluid
      .span7
        %h2
          = @show.requester.class
          = link_to @show.requester.name, @show.requester
        %h2
          = @show.requested.class
          = link_to_if (!@show.requested.virtual? and @show.approved), @show.requested.name, @show.requested
        %dl
          %dt Date and time:
          %dd 
            = @show.dt
          %dt Address:
          %dd
            - if can?(:request_address, @show)
              = link_to 'Request address', request_address_show_path(@show), method: :post, class: 'btn'
            - elsif can?(:show_address, @show)
              = @show.address
            - else
              = 'Login to be able to request address'
          %dt Cost:
          %dd
            = "#{@show.cost}$$"
          %dt Crowd Size:
          %dd
            = "#{@show.crowd_size}+"
        %button.btn Buy tickets
        %div
          = @show.description
      .span5
        Upcoming shows info goes here
