.row-fluid
  .span4
    - if @show.band
      - @show.band.images.each do |img|
        %a.thumbnail{ href: img.upload.url }
          = image_tag img.upload.url(:thumb)
      - if @show.band.songs.present?
        %table.table
          %thead
            %tr
              %td 
                %b Playable sample songs
          - @show.band.songs.each do |song|
            %tr
              %td
                %div
                  = song
                %audio{ controls: true }
                  %source{ src: song.upload.url, type: song.upload.content_type }
    - else
      .alert.warning 
        = 'There is no information about this band in our base'
  .span8
    - if can?(:edit, @show)
      = link_to 'Edit information', edit_show_path(@show), class: 'btn'
    .row-fluid
      .span7
        %h2 
          = 'Band: '
          = link_to_unless @show.band.virtual?, @show.band.name, @show.band
        %h2
          = 'Venue: '
          = link_to_unless @show.venue.virtual?, @show.venue.name, @show.venue
        %dl
          %dt Date and time:
          %dd 
            = @show.dt
          %dt Address:
          %dd
            - if @show.private?
              %button.btn Request address
            - else
              = @show.address
          %dt Cost:
          %dd
            = "#{@show.cost}$$"
          %dt Crowd Size:
          %dd
            = "#{@show.crowd_size}+"
        %button.btn Buy tickets
        %div
          = @show.description
      .span5
        Upcoming shows info goes here
